guacamol==0.5.4
joblib==1.2.0
networkx==2.8.6
pytorch-lightning==1.5.7
rdkit-pypi==2022.3.5
torch==1.8.1+cu101
torch-cluster==1.6.0
torch-geometric==2.1.0.post1
torch-scatter==2.0.9
torch-sparse==0.6.12
torch-spline-conv==1.2.1
torchaudio==0.8.1
torchmetrics==0.9.3
torchvision==0.9.1+cu101
tqdm==4.64.1